*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a i {
  color: grey;
}

/* clearfix */
.container::after {
  content: "";
  display: table;
  clear: both;

}

.section-left{
  float: left;
  width: 20%;
  height: 100vh;
  background-color: blue;
  display:flex;
  flex-direction: column;


}
.section-right{
  float: left;
  width: 80%;
  min-height: 100vh;
  background-color: red;
}

/* sezione sinistra */

.headbar-left{
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.cerca {
  height: 30px;
  width: 100%;
  background-color: lightgrey;
  border-top: 1px grey solid;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cerca i{
  color: grey;
  /* background-color: white; */
}

.cerca input {
  width: 100%;
}
