*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a i {
  color: grey;
}

/* clearfix */
.container::after {
  content: "";
  display: table;
  clear: both;

}

.section-left{
  float: left;
  width: 25%;
  height: 100vh;
  /* background-color: blue; */
  display:flex;
  flex-direction: column;


}
.section-right{
  float: left;
  width: 75%;
  min-height: 100vh;
  /* background-color: red; */
}

/* sezione sinistra */

/* headbar user */
.headbar-left{
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.headbar-photo-left {
  padding-left: 10px;
}

.headbar-icons-right i {
  padding-right: 10px;
}

/* searchbar input */
.cerca {
  height: 30px;
  width: 100%;
  background-color: lightgrey;
  border-top: 1px grey solid;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cerca i{
  color: grey;
  /* background-color: white; */
}

.cerca input {
  width: 100%;
}

/* friend box */
.friends {
  min-height: 50px;
  background-color: white;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.friends h5{
  color: lightgrey;
}

/* sezione destra */

/* headbar right */

/* da riguardare allineamento foto e dettagli */
.headbar-right {
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.headbar-photo-left {
  display: flex;
  flex-direction: row;

}
.name-details{
  padding-left: 20px;
}
.name-details h5 {
  color: grey;
}

/* chat room */
.chat-room {
  width: 100%;
  height: 85vh;
  background-image: url(../img/backgroundwhatsapp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.chat-user {
  /* display:none; */
  width: 100px;
  min-height: 50px;
  background-color: lightgreen;
  border-radius: 10px;
}

/* barra chat */

.bot-bar {
  height: 50px;
  width: 100%;
  background-color: lightgrey;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bot-bar input {
  width: 90%;
  height: 35px;

}

.bot-bar i {
  color: grey;
}
